.row
  .large-4.columns
    = label_tag :name
    = text_field_tag 'name', nil, :autofocus => true, :placeholder => 'Restaurant Name'
    = label_tag :address
    = text_field_tag :approx_address, nil, :placeholder => 'Address'
    = button_to_function('Find', 'app.validate_address()')
    #show_address= render 'found_address' if @found_address.present?
    #tagform
      .tagbutton.orange= link_to_function('V', 'app.select_tag(this)', :id => 'veg')
      .tagbutton.green= link_to_function('F', 'app.select_tag(this)', :id => 'cheap')
      .tagbutton.green= link_to_function('$', 'app.select_tag(this)', :id => 'fast')
      .tagbutton.green= link_to_function('$$$', 'app.select_tag(this)', :id => 'fancy')
      .tagbutton.green= link_to_function('G', 'app.select_tag(this)', :id => 'groups')
      .tagbutton.green= link_to_function('H', 'app.select_tag(this)', :id => 'healthy')
    #taglist
    = button_to_function('Cancel', 'app.cancel_rest_form()', :class => 'button round alert tiny')
    = button_to_function('Add', 'app.create_restaurant()', :class => 'button round alert tiny')
  .large-8.columns