- if @restaurants.present?
  .row.restaurant_div
    .large-3.columns
      .header= 'Restaurant'
    .large-4.columns
      .header= 'Address'
    .large-3.columns
    .large-2.columns
  - @restaurants.each do |restaurant|
    - if restaurant.thumbs_down == false || @auth.present? && @auth.is_admin? && restaurant.thumbs_down == true
      .row.restaurant_div
        .large-3.columns
          .text1= restaurant.name
          - if @auth.present?
            .edit_delete= link_to('Edit', edit_restaurant_path(restaurant.id), :remote => true) if @auth.is_admin?
            .edit_delete= link_to('Delete', restaurant_path(restaurant.id), :method => 'delete', :confirm => 'This will delete the restaurant. Click OK to continue', :remote => true) if @auth.is_admin?
            #toggle_thumb= render :partial => 'restaurants/thumb', :locals => { :restaurant_id => restaurant.id, :thumb => restaurant.thumbs_down } if @auth.is_admin?
        .large-4.columns
          .text1.address_link= link_to(restaurant.address, '#', :remote => true, :'data-address-id' => "address#{restaurant.id}")
        .large-3.columns
          - restaurant.tags.each do |tag|
            = link_to tag.tag_symbol, filter_restaurants_path(tag.id), :remote => true, :id => "#{tag.name}", :class => "tagbutton #{tag.name}"
        .large-2.columns
          .links= link_to("Read Reviews", review_path(restaurant.id), :remote => true)
          .links= link_to_function("Add Review", 'app.new_review_form(this)', :remote => true, :'data-rest' => restaurant.id)
    .row.review_div
      .large-12.columns
        - restaurant.reviews.each do |review|
          .row.reviews.hide{:'data-rest-id' => restaurant.id }
            #review_form
            .large-3.columns
              .comment_link.hide= link_to_function("Add a Comment", 'app.new_comment_form(this)', :remote => true, :'data-rev' => review.id)
            .large-9.columns
              .show_review_content.hide= review.content
          - review.comments.each do |comment|
            .row.comments.hide{:'data-rev-id' => review.id }
              #comment_form
              .large-3.columns.comment_div
              .large-9.columns.comment_div
                .hide= comment.content

